.jumbotron h1 {
  text-align: center;

}

#output {
  font-family: Verdana;
  font-size: 2em;
}

body {
  background-color: rgb(240, 217, 245);
}

input[type="text"] {
  width: fit-content;
}

label {
  font-size: 2em;
  font-weight: bold;
}

img {
  margin-right: 20%;
  float: left;
  width: 50%;
  border: solid 26px black;
}